@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-uno: #F6F7EB;
    --color-dos: #E94F37;
    --color-tres: #393E41;
    --color-cuatro: #22538b;
}

body {
    background-color: var(--color-tres);
    color: var(--color-uno);
}


header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--color-dos);
    color: var(--color-uno);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.instrucciones {
    margin-bottom: 2rem;
}

.marcador {
    background-color: var(--color-cuatro);
    padding: 1rem 2rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-uno);
    font-weight: 600;
    margin-bottom: 2rem;
}

.marcador .nombre {
    position: absolute;
    color: var(--color-uno);
    background-color: var(--color-dos);
    line-height: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--color-cuatro);

}

.marcador .nombre-jugador {
    right: 85%;
}

.marcador .nombre-cpu {
    left: 85%;
}

.marcador .puntos {
    font-size: 1.6rem;
}

.elegi-tu-arma {
    margin-bottom: 2rem;
}

.elegi-tu-arma h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.armas {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.arma {
    font-size: 3rem;
    background-color: var(--color-tres);
    border: 0;
    padding: .5rem;
    cursor: pointer;
}

.mensaje {
    margin-bottom: 2rem;
    line-height: 1.8;
}

.mensaje .eleccion {
    color: var(--color-dos);
    padding-inline: .25rem;
}

.btn {
    border: 0;
    line-height: 1;
    background-color: var(--color-dos);
    color: var(--color-uno);
    font-size: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.disabled {
    display: none;
}

